@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Do+Hyeon&family=Gothic+A1&family=Gugi&display=swap');
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Cute Font', cursive;
font-family: 'Do Hyeon', sans-serif;
font-family: 'Gaegu', cursive;
font-family: 'Gothic A1', sans-serif;
font-family: 'Gugi', cursive;
}